* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #F1F3F2;
}

body::-webkit-scrollbar {
    display: none;
}

.main {
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-position: 500px;
    background-size: 850px;
    background-position-x: 320px;
    background-position-y: 100px;
    padding: 40px;
}

.main {
    margin-top: 50px;
    margin-left: 115px;
}

p {
    font-size: 12px;
    width: 280px;
}

.para {
    font-size: 10px;
    padding: 20px;
    text-decoration: underline;
}

button {
    width: 150px;
    padding: 1%;
    border: none;
    border-color: #D56BBE;
    border-radius: 5px;
    color: white;
    background-color: #D56BBE;
}


.ali {
    background: white;
    height: 40px;
    width: 150px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: black;
}

.ali img {
    height: 15px;
    padding-left: 5px;
}

input {
    border-radius: 5px;
    border: none;
    height: 30px;
    width: 110px;
}

input:focus {
    outline: none;
}

.footer {
    background-color: #F1F3F2;
    padding: 20px;
    padding-left: 150px;
    display: flex;
    border-top: 1px solid black;
}
.footer p {
    
    width: 160px;
    padding: 5px;
}

.foot {
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 150px;
}